<% if signed_in? %>
  <%=render 'shared/photo_form' %>
<% else %>
<div class="center hero-unit">
  <h1>Ready. Set. Ditermini.</h1>

  <h2>
    Night out? Big presentation? Stuck in the fitting room? </br> Figure out what looks best on you and help others decide what works for them.
  </h2>

  <div data-role="button" style="color:black; font-size:30px"> <%= link_to "Sign up now!", "/following" %> </div>
</div>
<% end %>
