<div data-role="content">
<div class="choice_list">
<ul>
<li>
  <%= gravatar_for notification.notifier, size: 52 %>
  <%= link_to notification.notifier.name, notification.notifier %>
  <div><%= notification.message %></div>
</li>
</ul>
</div>
</div>