<script src="//cdn.optimizely.com/js/141411332.js"></script>
<% provide(:title, 'Find your friends') %>

<div> <input type='text' id="completionMenu"/> </div>
<div id='matchingUsers'></div> 
 <ul data-role='listview' data-inset='true'>
<li>
  <%= gravatar_for user, size: 52 %>
  <%= link_to user.name, user %>
  
</li>
</ul>

<script type="text/javascript">
//<![CDATA[
var processResponse=function (responseText,divname){
  this.elem=document.getElementById(divname);
  this.elem.innerHTML=responseText;
}
new filter("completionMenu", "/user/findUsers", "substring", processResponse, "matchingUsers");
//]]>
</script>