<script src="//cdn.optimizely.com/js/141411332.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36548035-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  	//<![CDATA[
	var processResponse=function (responseText,divname){
  	this.elem=document.getElementById(divname);
  	this.elem.innerHTML=responseText;
	}
	new filter("completionMenu", "/user/findUsers", "substring", processResponse, "matchingUsers");
	//]]>
</script>

<% provide(:title, 'Find Your Friends') %>
<h1>Find Your Friends </h1>
<%= will_paginate %>
<br/>
<div> <input type='text' id="completionMenu" placeholder="Search for people"/> </div>
<div id='matchingUsers'></div>
<ul class="users"> 
	<%= render @users %>
</ul>
