
<% provide(:title, 'Find Your Friends') %>
<h1>Find Your Friends </h1>
<%= will_paginate %>
<ul class="users">
        <div> <input type='text' id="completionMenu"/> </div>
	<div id='matchingUsers'></div> 

	<%= render @users %>
</ul>
