<% provide(:title, @title) %>
  <div data-role="content">
    <h1><%= @title %></h1>
     <h4> <%= render 'shared/notification_stats' %> </h4>
    <% if @notifications.any? %>
      <ul class="users" data-role='listview' data-inset='true'>
        <%= render @notifications %>
      </ul>
    <% else %>
    <br/>
    <br/>
     <h3> You do not have any notifications at this time. </h3>
     <h3> <div data-role="button"> <%= link_to "Click here to Find users to Follow!", "/users" %> </div> </h3> 
  <% end%> 
  </div>