<% if @feed_items.any? %>
  <ol class="microposts">
    <%= render partial: 'shared/feed_item', collection: @feed_items %>
  </ol>
  <%= will_paginate @feed_items %>
<script type="text/javascript">
	$("button").bind("click", function (event, ui) {
		console.log("button clicked");
		var photoId;
		var voteYes;
		var id = event.srcElement.id;
		var parent = event.parentNode;
		if (id.substring(0, 2) == "no") {
			photoId = id.substring(2);
			voteYes = 0;
		} else {
			photoId = id.substring(3);
			voteYes = 1;
		}
		$.post("user/vote", {"photoId": photoId, "voteYes": voteYes}, function (data) {
			console.log(data);
			$("span > span", $("#yes"+data.photo_id).parent()).html("YES : " + data.yes);
			$("span > span", $("#no"+data.photo_id).parent()).html("NO : " + data.no);
			console.log($("#yes"+data.photo_id));
			if(data.voted_for) {
				$("#yes"+data.photo_id).css('background-color', 'Blue');
				$("#no"+data.photo_id).css('background-color', 'Red');
			} else {
				$("#yes"+data.photo_id).css('background-color', 'Green');
				$("#no"+data.photo_id).css('background-color', 'Blue');
			}
		});
	});
</script>
  <% else %>
<h3> You do not have any items on your feed. </h3>
     <h3 style="margin:20px"><div data-role="button"> <%= link_to "Click here to Find users to Follow!", "/users" %> </div> </h3>
     <p style="text-align:center"><img src= "/images/buddy.jpg"  style=" opacity :0.2;"/></p>
<% end %>