<li>
  <span class="content">
  	<img src='<%= photo.filename %>'/>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(photo.created_at) %> ago.
  </span>
  <% if current_user?(photo.user) %>
    <%= link_to "delete", photo, method: :delete, data: { confirm: "You sure?" }, title: photo.filename %>
  <% end %>
</li>