<% if signed_in? %>
<div data-role='content'>
  <div class="row-fluid">
      <h3>Upload Photo!</h3>
      <section>
        <%= render 'shared/photo_form' %>
      </section>
    </div>
  </div>  
<% end %>
