<% if signed_in? %>
<div data-role='content'>
  <div class="row-fluid">
      <h1>Upload Photo!</h1>
      <section>
        <img src="images/noImage.png" id="hidden"/>
        <%= render 'shared/photo_form' %>
      </section>
    </div>
  </div>  
<% end %>
