<footer class="footer">
  <small>
    <a href="#">Ditermini App</a>
    by Dhruv Amin, Claire Negiar, Tim Shi
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>