<% if signed_in? %>
<nav>
  <div data-role="footer" data-id="samebar" class="nav-bar" data-position="fixed" data-tap-toggle="false">
    <div data-role="navbar" class="nav-bar" >
      <ul>
        <li><a href="/feed" id="following" data-icon="custom"></a></li>
        <li><a href="/users" id="explore" data-icon="custom"></a></li>
        <li><a href="/photos/new" id="upload" data-icon="custom"></a></li>
        <li><a href=<%= "/users/" + current_user.id.to_s + "/notifiers" %> id="notifications" data-icon="custom"></a></li>
        <li><a href=<%= "/users/" + current_user.id.to_s %> id="my-closet" data-icon="custom"></a></li>
      </ul>
    </div>
  </div><!-- /navbar_footer -->
</nav>
<% end %>
