<% if !signed_in? %> <!-- Commenting this part out -->
<footer class="footer">
  <small>
    <a href="#">Ditermini App</a>
    by Dhruv Amin, Claire Negiar, Tim Shi
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://stanford.coursera.org/hci-2012-fall/class/index">News</a></li>
    </ul>
  </nav>
</footer>

<% else %>

<!-- START OF JQUERY VERSION OF ABOVE FOOTER. TURN THIS PAGE INTO NAV BAR -->
<nav>
  <div data-role="footer" data-id="samebar" class="nav-bar" data-position="fixed" data-tap-toggle="false">
    <div data-role="navbar" class="nav-bar" >
      <ul>
        <li><a href="/feed" id="following" data-icon="custom"></a></li>
        <li><a href="/users" id="explore" data-icon="custom"></a></li>
        <li><a href="/photos/new" id="upload" data-icon="custom"></a></li>
        <li><a href=<%= "/users/" + current_user.id.to_s + "/notifiers" %> id="notifications" data-icon="custom"></a></li>
        <li><a href=<%= "/users/" + current_user.id.to_s %> method="get" id="my-closet" data-icon="custom"></a></li>
      </ul>
    </div>
  </div><!-- /navbar_footer -->
</nav>

<%end%>